.ball-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  cursor: pointer;
}

.ball-inner {
  position: relative;
}

.ball {
  width: 300px;

  height: 300px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 60px #ee82ee,
    inset -20px 0 60px #0ff, inset 20px 0 300px #ee82ee,
    inset -20px 0 300px #0ff, 0 0 5px #fff, -10px 0 60px #ee82ee,
    10px 0 60px #0ff;
  animation: load 2s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease;
}

.ball-pressed {
  background-color: black;
  box-shadow: none;
}

.ball-big {
  width: 500px;
  height: 500px;
}

.ball-thinking {
  animation: pulsate 5s infinite;
}

.ball-text {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Papyrus, fantasy;
  color: white;
  font-size: 1em;
  user-select: none;
}

.ball-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -50%);
}

.ball-big .ball-text {
  font-size: 1.5em;
}

.reroll-icon {
  margin-top: 0.5em;
  font-size: 1.5em;
  color: #ffffff;
  cursor: pointer;
}

@keyframes load {
  0% {
    transform: rotate(0);
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsate {
  0% {
    box-shadow: inset 0 0 50px #fff, inset 20px 0 60px #ee82ee,
      inset -20px 0 60px #0ff, inset 20px 0 300px #ee82ee,
      inset -20px 0 300px #0ff, 0 0 5px #fff, -10px 0 60px #ee82ee,
      10px 0 60px #0ff;
  }
  30% {
    box-shadow: inset 0 0 100px rgb(249, 249, 249), inset 40px 0 120px #ee82ee,
      inset -40px 0 120px rgb(0, 255, 34), inset 40px 0 600px #ee82ee,
      inset -40px 0 600px rgb(255, 187, 0), 0 0 10px #fff, -20px 0 120px #ee82ee,
      20px 0 120px rgb(0, 102, 255);
  }
  100% {
    box-shadow: inset 0 0 50px rgb(4, 102, 221), inset 20px 0 60px #ee82ee,
      inset -20px 0 60px #0ff, inset 20px 0 300px #ee82ee,
      inset -20px 0 300px rgb(234, 0, 255), 0 0 5px #fff, -10px 0 60px #ee82ee,
      10px 0 60px #0ff;
  }
}
