.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(0deg, #000, #2c003e); /* Initial state */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: gradient-animation 20s ease infinite; /* Apply the animation with ease */
}

.ball {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 60px #ee82ee,
    inset -20px 0 60px #0ff, inset 20px 0 300px #ee82ee,
    inset -20px 0 300px #0ff, 0 0 5px #fff, -10px 0 60px #ee82ee,
    10px 0 60px #0ff;
  animation: load 2s infinite;
}

@keyframes load {
  0% {
    transform: rotate(0);
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(100deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes gradient-animation {
  0% {
    background: linear-gradient(0deg, #000, #2c003e); /* Constant gradient */
  }
  100% {
    background: linear-gradient(0deg, #000, #2c003e); /* Constant gradient */
  }
}
